
/*|| VARIABLES */ 

/* FOR MOBILE */

:root{

	/* typescale */
	  
		--text-xl: calc(var(--text-base)*6);
		--text-lg: calc(var(--text-base)*1.125);
		--text-base: 30px;
		--text-sm: calc(var(--text-base)*0.875);
		--text-xs: calc(var(--text-base)*0.3);
		
		--display: block;
	}
	
	/* || DESKTOP */
	
	@media (min-width:650px) {
		:root {
		
		/* typescale */
		
		}
	}

/* PARTS OF THE WEBSITE */

body {
    font-family: 'Figtree', serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {

}

/* INPUT */

input[type="date"] {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* BUTTON */

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #282828;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
