/* || TYPOGRAPHY */

@font-face {
	font-family: 'NeueBit';
	src: url('PPNeuebit/PPNeueBit-Regular.woff2');
	font-weight: 400;
 }

/*|| VARIABLES */ 

/* FOR MOBILE */

:root{

/* typescale */
  
    --text-xl: calc(var(--text-base)*6);
	--text-lg: calc(var(--text-base)*1.125);
	--text-base: 30px;
	--text-sm: calc(var(--text-base)*0.875);
	--text-xs: calc(var(--text-base)*0.3);
	
	--display: block;
}

/* || DESKTOP */

@media (min-width:650px) {
    :root {
	
	/* typescale */
    
    }
}


/* LINKS */

body {
    font-family: 'Figtree', serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {

}

input[type="date"] {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#result {
    margin-top: 1rem;
}

/* FLEXBOX for input + today buttons */
.input-group {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
  }
  
  .input-group input[type="date"] {
	margin-right: 1rem;
  }